/* * {
   margin: 0;
   padding: 0; 
} */

.header{
    background-color: black;
    color: white;
    height: 150px;
    width: auto;
    display: flex;  
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}