
.movie-page{
    background-color:#141414 ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
}

.movie {
    background-color: #1f1f1f;
    border-radius: 12px;
    padding: 15px;
    transition: 0.3s;
    text-align: center;
}

.movie :hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px;
}

.movie img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.movie h4 {
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

button{
    background-color: #e50914;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.5s;
}

button:hover {
  background-color: #ff1f1f;
}   

.details {
    color:#b3b3b3;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 12px;
}

.details img {
    width: 300px;
    border-radius: 12px;
    margin-top: 30px;
}

.details p {
    font-size: 16px;
    color: #b3b3b3;
    text-align: left;
}